@model IEnumerable<EFEntity.tblBookingMap>
<!-- BEGIN EXAMPLE TABLE widget-->
                <div class="widget red">
                    <div class="widget-title">
                        <h4><i class="icon-reorder"></i> All Request  </h4>
                            <span class="tools">
                                
                                
                            </span>
                    </div>
                    <div class="widget-body">
                        <table class="table table-striped table-bordered" id="sample_1">
                            <thead>
                            <tr>
                                
                                <th class="hidden-phone">Booking Name</th>
                                <th class="hidden-phone">Booking Code</th>
                                <th class="hidden-phone"> Description </th>
                                <th class="hidden-phone"> Date Add </th>
                                <th></th>
                               
                            </tr>
                            </thead>
                            <tbody>
                                 @foreach(var item in Model)
                                   {
          
                                        <tr>
                                            <td> @item.BookingName </td>
                                            <td> @item.BookingID </td>
                                            <td> @item.Description </td>
                                            <td> @item.Date_add </td>
                                            <td> @Html.ActionLink("Detail", "Details", new {@id = item.ID})</td>
                                        </tr> 
                                   }
                            
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->